.field {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
}
.cell {
    padding: 5px;
    background: whitesmoke;
    width: 30px;
    height: 30px;
}

.head-cell {
    background: lightgreen;
    border-radius: 30px;
}
.body-cell{
    background: lightgreen;
}

.meal-cell {
    background: darkred;
    border-radius: 30px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

table, .settings {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -45%);
}