{% extends 'base.html' %}

{% block content %}
    {{super()}}
    <div class="col-md-1"></div>
    <div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-body">
            <form action="" method="post" class = "">
                {{ form.csrf_token() }}
                {% for field in form if field.name != "csrf_token" %}<p>

                    {% if field.name not in ("field_is_infinity", "submit") %}
                    <div class="input-group">
                        <span class="input-group-addon">{{ field.label }}</span>
                        {{ field(class_="form-control", placeholder="text") }}
                    </div>
                    {% elif field.name == "field_is_infinity" %}
                    <div class="input-group">
                        <span>
                            {{ field }}
                        </span>
                        <span>{{ field.label }}</span>
                    </div>
                    {% else %}
                    <div class="input-group">
                        {{ field(class_="btn btn-primary") }}
                    </div>
                    {% endif%}
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}

                </p>{% endfor %}
            </form>
        </div>
    </div>
    </div>
{% endblock %}